.custom-container {
  display: flex;
  height: 100vh; /* Set the height relative to the viewport */
}

.custom-panel {
  margin: 0; /* Minimize white space */
  padding: 0; /* Minimize white space */
  height: 100%; /* Equal height for each panel */
}